{% include "layouts/b.html" %}

{% block content %}
    <div class="max-w-3xl mx-auto my-12 px-6">
        <h1>Add New Category</h1>
        <div class="card !p-8">
            <form method='POST'>
                {% csrf_token %}
                {{form.as_p }}
                <button type="submit" class="mt-1">Submit Post</button>
                <a class="button secondaryAction ml-1" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
            </form>
        </div>
    </div>
{% endblock  %}